.container {
    position: absolute;
    right: 30px;
    top: 10px;
    background-color: rgb(245, 49, 0);
    
    
    /* width: 300px; */
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    padding: 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }